#side_nav{
  background: var(--rojo_property);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}
.content{
  min-height: 100vh;
  width: 100%;
}
.sidebar li.active{
  background: #ffffff;
  border-radius: 8px;

}
.sidebar li.active a, .sidebar li.active a:hover{
  color: var(--azul_property);
}
.sidebar li a{
  color: #fff;
  font-weight: bold;
}

.navbar-toggler.btn-user{
  background: #fff;
  font-size: 1rem;
  padding: 5px;
  margin-left: 5px;
}

.dropdown-menu.menu-show{
  font-size: 12px;
  margin-left: 2px;
  transition: all 0.3s;
}

/*--user avatar---*/

.user-avatar{
  max-width: 35px;
}
/*cards presentación*/

.stat{
  border-right: 0.5px solid rgb(202, 202, 202);
}
.row-card{
  margin: 0 auto;
}

/*---content---*/
.content__user{
  color: #000000;
}


/*-------------*/
#btn-pagar{
  background-color: var(--azul_property);
  padding: 8px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}




@media(max-width:767px){
  
  #side_nav{
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
  #side_nav.active{
    margin-left: 0;
  }
  .sidebar-logo h6{
    font-size: 1.2rem;
  }
  .btn-pagar{
      margin: 6px;
  }
  
}
