<nav class="navbar navbar-expand-lg">
    <div class="container container-fluid logo-container d-flex justify-content-between">
        <div class="me-auto">
            <a class="navbar-brand logo" routerLink="/home">
                <img src="../../../assets/Logo-property.png" alt="Logo-property">

            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-container flex-row-reverse " id="navbarNav">
            <ul class="navbar-nav nav text-center">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="home" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/propiedades">Propiedades</a>
                </li>
                <li class="nav-item">
                    <button class="btn-usuarios"><a routerLink="login" aria-current="page">Ingresar</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn-usuarios"><a routerLink="registro" aria-current="page">Registrarse</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!-- <nav class="navbar-container d-flex">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="home" aria-current="page"  >Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button" routerLink="/home-nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="home-contacto" >Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/propiedades" >Propiedades</a>
        </li>
             <li class="nav-item">
            <button class="btn-usuarios"><a routerLink="login" aria-current="page">Ingresar</a></button>
        </li>
        <li class="nav-item">
            <button class="btn-usuarios"><a routerLink="registro" aria-current="page">Registrarse</a></button>
        </li>
        
    </ul>

</nav> -->