.form{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda-categoria h2{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}


