<header>
    <app-nav></app-nav>
    <div class="search d-flex justify-content-end ">
        <form class=" d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn" type="submit">Buscar</button>
        </form>
    </div>
</header>

<!-- <header>
    <div class="container-header">
        <div class="logo-container">
            <a class="header-logo" routerLink="/home">
                <img src="../../../assets/Logo-property.png" alt="Logo-property" >
            </a>
        </div>
        <app-nav></app-nav>
    </div>
    <div class="search d-flex justify-content-end ">
        <form class=" d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-success bg-white" type="submit">Buscar</button>
        </form>
    </div>
</header> -->