<div class="container-registro">
    <!-- Form -->
    <section class="section resgistro">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-3">
                    <div class="section pb-3 pt-3 pt-sm-4 text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap pt-3 pb-3">
                                        <!-- form -->
                                        <form [formGroup]="formRegistro" class="section text-center" id="formRegistro" novalidate>
                                            <p class="text-danger">{{registroError}}</p>
                                            <h4 class="mb-4 pb-3">Registrarse</h4>
                                            <div class="form-group form-control">

                                                <input formControlName="nombre"type="text" name="sign-name" class="form-style "
                                                    placeholder="Nombre" id="sign-name" minlength="3" maxlength="60"
                                                    required [ngClass]="{error : getControl('nombre')?.errors && getControl('nombre')?.touched}">
                                                <i id="iconName" class="input-icon bi-person-circle"></i>
                                                <div *ngIf="getControl('nombre')?.errors && getControl('nombre')?.touched" class= "text-danger  mt-2">
                                                    <div *ngIf="getControl('nombre')?.errors?.['required']">
                                                        El nombre es obligatorio.
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="apellido" type="text" name="sign-apellido" class="form-style"
                                                    placeholder="Apellido" id="sign-apellido" minlength="3"
                                                    maxlength="60" required [ngClass]="{error : getControl('apellido')?.errors && getControl('apellido')?.touched}">
                                                <i class="input-icon bi-person-circle"></i>
                                                <div *ngIf="getControl('apellido')?.errors && getControl('apellido')?.touched" class= "text-danger  mt-2">
                                                    <div *ngIf="getControl('apellido')?.errors?.['required']">
                                                        El apellido es obligatorio.
                                                    </div> 
                                                </div>

                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="email" type="email" name="sign-mail" id="sign-mail"
                                                    class="form-style" placeholder="Email" id="sign-mail"
                                                    minlength="10" maxlength="60" required>
                                                <i class="input-icon bi-envelope"></i>
                                                <div *ngIf="getControl('email')?.errors && getControl('email')?.touched" class="text-danger mt-2">
                                                    <div *ngIf="getControl('email')?.errors?.['required']">
                                                        El email es obligatorio.
                                                    </div> 
                                                    <div *ngIf="getControl('email')?.errors?.['email']">
                                                        El email debe ser válido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="password" type="password" name="sign-pass" class="form-style"
                                                    placeholder="Contraseña" id="sign-pass" autocomplete="off"
                                                    minlength="8" maxlength="12" required>
                                                <i class="input-icon bi bi-key"></i>
                                                <div *ngIf="getControl('password')?.errors && getControl('password')?.touched" class="text-danger mt-2">
                                                    <div *ngIf="getControl('password')?.errors?.['required']">
                                                        La contraseña es obligatoria.
                                                    </div> 
                                                    <div *ngIf="getControl('password')?.errors?.['minlength']">
                                                        La contraseña debe tener al menos 8 caracteres.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="confirm_password" type="password" name="sign-pass2" class="form-style"
                                                    placeholder="Repetir contraseña" id="sign-pass2"
                                                    autocomplete="off" minlength="8" maxlength="12" required>
                                                <i class="input-icon bi bi-key"></i>
                                                <div *ngIf="getControl('confirm_password')?.errors && getControl('confirm_password')?.touched" class= "text-danger  mt-2">
                                                    <div *ngIf="getControl('confirm_password')?.errors?.['required']">
                                                        Las contraseñas es obligatoria.
                                                    </div> 
                                                    <div *ngIf="formRegistro.errors?.['passwordNoCoinciden'] && getControl('confirm_password')?.touched">
                                                        Las contraseñas no coinciden.
                                                    </div> 
                                                </div>
                                            </div>
                                            <a routerLink="/login" aria-current="page" >
                                                <button (click)="registerFn()" id="btnRegistro" class="mt-4 btn" type="submit" ><span>Registrarse</span></button> </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Login ends-->
