<div class="col-12  buscador d-flex flex-column p-5">
    <h3 class="text_aside">Encuentra tu propiedad</h3>

    <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
        <option selected="">Tipo de operación</option>
        <option value="1">Indistinto</option>
        <option value="2">Venta</option>
        <option value="3">Alquiler</option>
        <option value="4">Alquiler temporario</option>
    </select>

    <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
        <option selected="">Ubicación</option>
        <option value="1">Córdoba</option>
        <option value="2">Jujuy</option>
        <option value="3">Catamarca</option>
        <option value="4">La rioja</option>
        <option value="5">San Juan</option>
        <option value="6">Salta</option>
        <option value="7">Corrientes</option>
        <option value="8">Entre Rios</option>
        <option value="9">Mendoza</option>
        <option value="10">Santa fe</option>
        <option value="11">Santa Cruz</option>
        <option value="12">Rio Negro</option>
        <option value="13">Usuaia</option>
        <option value="14">San Luis</option>
        <option value="15">Chaco</option>
        <option value="16">Formosa</option>
        <option value="17">AMBA</option>
        <option value="18">Misiones</option>
        <option value="19">Tierra del fuego</option>
        <option value="20">La pampa</option>
        <option value="21">Tucumán</option>
        <option value="22">Chubut</option>
        <option value="23">Neuquén</option>
        <option value="24">Buenos Aires</option>
        <option value="CABA">Santiago del Estero</option>
    </select>
    <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
        <option selected="">Tipo de Propiedad</option>
        <option value="1">Indistinto</option>
        <option value="2">Casa</option>
        <option value="3">Departamento</option>
        <option value="4">Terreno</option>
    </select>
    <select class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
        <option selected="">Ambientes</option>
        <option value="1">Indistinto</option>
        <option value="2">1 ambiente</option>
        <option value="3">2 ambientes</option>
        <option value="4">3 ambientes</option>
        <option value="5">4 ambientes</option>
        <option value="6">5 ambientes</option>
        <option value="7">6 ambientes o más</option>
    </select>
    <button class="btn-filter"><a class="nav-link active">Buscar</a></button>
</div>
