<footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <p class="col-md-4 mb-0">©Copyright Property Inmobiliaria - 2023</p>

    <a RouterLink="/home" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <div class="img-footer">
            <img src="../../../assets/Logo-property.png">
        </div>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item px-2">Buenos Aires 1273, Planta alta- B° Los arenales- Buenos Aires, Argentina</li>

    </ul>
    <div class="redes-sociales">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google"><i class="bi bi-linkedin"></i></a>

    </div>
  </footer>

<!-- <footer class="footer">
  <div class="footer-container">
      <div class="img-footer">
          <img src="../../../assets/Logo-property.png">
      </div>
      <div class="ubicacion">
          <p class="ub-footer">Buenos Aires 1273, Planta alta- B° Los arenales- Buenos Aires, Argentina</p>
          <p class="ub-footer"></p>
      </div>

      
      <div class="redes-sociales">
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google"><i class="bi bi-linkedin"></i></a>

      </div>
      
  </div>
  <div class="copyright text-center">
      <p class="ub-footer">©Copyright Property Inmobiliaria - 2023</p>
  </div>
</footer> -->
